.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 200;
}

.btn__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
}