.card__container {
    max-width: 400px;
    width: 100%;
    min-height: 700px;
    height: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 30px;
}

@media screen and (max-width: 375px) {
    .card__container {
        max-width: 335px;
        min-height: 613px;
    }
}