.card__container {
    max-width: 400px;
    width: 100%;
    height: 711px;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.card__container > img {
    border-radius: 6px;
    margin-bottom: 24px;
}

.card__container > h3, .card__container > h4 {
    margin-bottom: 8px;
}

@media screen and (max-width: 375px) {
    .card__container {
        max-width: 335px;
        height: 573px;
    }
}