.container{
    width: 100vw;
    max-width: 100%;
    margin: 120px 0 120px 0;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.containerReverse{
    width: 100vw;
    max-width: 100%;
    margin: 120px 0 120px 0;
    padding: 0 50px;
    display: flex;
    flex-direction:row-reverse;
    gap: 50px;   
}

.text{
    display: flex;
    flex-direction: column;
    flex: 50%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.picture{
    flex: 50%;
}

.img{
    min-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}


@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .containerReverse{
        flex-direction:column;   
    }
    .text{
        justify-content: center;
        align-items: center;
    }
}