/* Project fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  /* Fonts */
  --font-Josefin: "Josefin Sans", sans-serif;
  --font-Lato: "Lato", sans-serif;

  /* Heading size-line height */
  --heading1-sizing: 50px;
  --heading1-line-height: 50px;
  --heading2-sizing: 40px;
  --heading2-line-height: 45px;
  --heading3-sizing: 28px;
  --heading3-line-height: 28px;
  --heading4-sizing: 22px;
  --heading4-line-height: 25px;
  --heading5-sizing: 17px;
  --heading5-line-height: 22px;

  /* Color palette */
  --dark-bg: #111111;
  --light-bg: #f4f6f8;
  --green-wsp: #48c658;
  --dark-panel: #1c1c1c;
  --white: #ffffff;
  --black: #000000;
  --grey: #9ca3af;
  --slate: #6b7280;
  --beige: #d0a554;
  --beige-dark-mode: #f1da9e;
  --grey-highlights: #d8c8ba;
  --earie-black-hover: #252525;
  

  /* Spacing */
  --spacing-xx-sm: 4px;
  --spacing-x-sm: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-big: 20px;
  --spacing-x-big: 24px;
  --spacing-xx-big: 28px;
  --spacing-xxx-big: 32px;
  --spacing-lg: 40px;
  --spacing-x-lg: 48px;
  --spacing-xx-lg: 64px;
  --spacing-xxx-lg: 80px;
  --spacing-huge: 96px;
  --spacing-x-huge: 128px;
  --spacing-xx-huge: 160px;
  --spacing-xxx-huge: 192px;
}

/* Reset */
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-Lato);
  font-size: 17px;
  line-height: 22px;
  font-weight: normal;
}

/* Headings */
h1 {
  font-family: var(--font-Josefin);
  font-size: var(--heading1-sizing);
  line-height: var(--heading1-line-height);
  font-weight: 600;
}
h2 {
  font-family: var(--font-Josefin);
  font-size: var(--heading2-sizing);
  line-height: var(--heading2-line-height);
  font-weight: 500;
}
h3 {
  font-family: var(--font-Josefin);
  font-size: var(--heading3-sizing);
  line-height: var(--heading3-line-height);
  font-weight: 500;
}
h4 {
  font-family: var(--font-Josefin);
  font-size: var(--heading4-sizing);
  line-height: var(--heading4-line-height);
  font-weight: 600;
}
h5 {
  font-family: var(--font-Josefin);
  font-size: var(--heading5-sizing);
  line-height: var(--heading5-line-height);
  font-weight: 500;
}


a {
  font-family: var(--font-Lato);
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color: var(--slate);
  text-decoration: none;
}

i{
  font-family: var(--font-Lato);
  font-size: 17px;
  line-height: 50px;
  font-weight: 800;
  color: "white";
}

button{
  font-family: var(--font-Lato);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: var(--green-wsp);
}



/* Heading styles */
.h1{
  font-family: var(--font-Josefin);
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}
.h2 {
  font-family: var(--font-Josefin);
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
}
.h3 {
  font-family: var(--font-Josefin);
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
}
.h4 {
  font-family: var(--font-Josefin);
  font-size: 22px;
  line-height: 25px;
  font-weight: 500;
}
.h5 {
  font-family: var(--font-Josefin);
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

/* Body variant */
.body {
  font-family: var(--font-Lato);
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}

.body2 {
  font-family: var(--font-Lato);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

/* Logo title */
.text-logo{
  font-family: var(--font-Lato);
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}

/* labels styles */
.link{
  font-family: var(--font-Lato);
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
}
.footer-link {
  font-family: var(--font-Lato);
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  text-decoration: none;
  color: var(--slate);
}

.card-date {
  font-family: var(--font-Lato);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--slate);
}

.footnote{
  font-family: var(--font-Lato);
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}
.caption1{
  font-family: var(--font-Lato);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.caption2{
  font-family: var(--font-Lato);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.review-text {
  font-family: var(--font-Lato);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.review-text-mobile {
  font-family: var(--font-Lato);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* buttons styles */
.button-nav{
  font-family: var(--font-Lato);
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  text-transform:capitalize;
  color: var(--white);
}

.button-dark{
  font-family: var(--font-Josefin);
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  color: var(--white);
  border-color: var(--beige-dark-mode);
}

.button-light{
  font-family: var(--font-Josefin);
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  text-transform:capitalize;
  color: var(--white);
  background-color: var(--black);
}

.button-standard{
  font-family: var(--font-Lato);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  border: none;

}

/* Marker from mapbox */

.mapbox-container {
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  top: -5px !important;
}

.mapbox-container::before {
  content: '';
  position: absolute; 
  z-index: -1;
  width: 11px;
  height: 11px;
  left: 40px;
  top: 40px;
  transform: skewX(50deg) skewY(40deg);
}

.mapbox-container-dark {
  background: #F4F6F8;
  border-color: #D0A554;
  color: #D0A554;
  filter: drop-shadow(0px 0px 1px #D0A554);
}

.mapbox-container-dark::before {
  background-color: #D0A554;
}

.mapbox-container-light {
  background: #111111;
  border-color: #9CA3AF;
  color: #9CA3AF;
  filter: drop-shadow(0px 0px 1px #9CA3AF);
}

.mapbox-container-light::before {
  background-color: #9CA3AF;
}

.mapboxgl-popup-content {
  padding: 11px 34px !important;
  border-radius: 12px !important;
  background: inherit !important;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapbox-text {
  font-family: var(--font-Lato);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.mapbox-text-dark {
  color: #D0A554;
}

.mapbox-text-light {
  color: #9CA3AF;
}

/* swiper styles */

.swiper {
  width: 100%;
}

.swiper .swiper-slide {
  transition: opacity 0.3s, filter 0.3s;
}

.swiper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.4;
  filter: grayscale(0.5);
}

/* react-pdf styles */

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
}

.img{
  width: 100%;
  height: 100%;
}


/* Responsive styles */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


