.section {
  max-width: 1640px;
  margin: 0px auto;
}

.galery_container {
  margin: 80px 0px 60px 0px;
  padding: 0 50px;
  max-width: 100%;
  width: 100vw;
  height: auto; 
  display: grid;
  gap: 15px;
  grid-template-areas: 
  'copa caldo caldo'
  'copa marisco arroz';
  
}

.galery_img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}

.galery_img1{
  grid-area: copa;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}
.galery_img2{
  grid-area: caldo;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}
.galery_img3{
  grid-area: marisco;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}
.galery_img4{
  grid-area: arroz;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}

@media (max-width:600px){
  .galery_container {
    grid-template-areas: 
    'copa marisco '
    'copa arroz '
    'caldo caldo ';
    
  }
}




