.card__container {
    max-width: 1029px;
    width: 100%;
    min-height: 388px;
    height: auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px;
    gap: 16px;
}

.text__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__container > img {
    border-radius: 6px;
}

@media screen and (max-width: 375px) {
    .card__container {
        max-width: 335px;
        min-height: 505px;
        flex-direction: column;
        padding: 30px;
    }

    .text__container > h5 {
        text-align: center;
    }
}