.card__container {
    max-width: 1100px;
    width: 100%;
    min-height: 388px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px;
    gap: 16px;
}

.img__container {
    width: 70%; 
    min-height: 300px;
    height: auto;
    max-height: 500px;
    position: relative;
    overflow: hidden; 
    border-radius: 6px;
}

@media screen and (max-width: 639px) {
    .card__container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
    }

    .img__container {
        width: 100%;
    }
}