.card__container {
    max-width: 400px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    filter: opacity(35%);
}

.showcard {
    filter: none;
}

.card__container > img {
    border-radius: 6px;
}

.card__container > p {
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

@media screen and (max-width: 640px) {
    .card__container {
        filter: none;
    }
}

@media screen and (max-width: 420px) {
    .card__container {
        max-height: 373px;
        padding: 20px;
    }
}